doctype html
html
  include ../includes/head.pug
  body
    include ../includes/header.pug
    div.content
      p <strong>Herzlich Willkommen im DMS,</strong>
      p dem DMS-Management.
      p Sie wurden eingeladen, dem #{client}-Arbeitsbereich beizutreten.
      p können Sie sich mit Ihrem Benutzernamen und Passwort anmelden, um Ihre Dokumente zu prüfen.
      p Für Rückfragen stehen wir Ihnen jederzeit gerne zur Verfügung.
      p Wir freuen uns auf die gemeinsame Zusammenarbeit.
      p Herzliche Grüße<br>Ihr DMS-Team
    include ../includes/footer.pug
