doctype html
html
  include ../includes/head.pug
  body
    include ../includes/header.pug
    div.content
      p <strong>Welcome to the DMS,</strong>
      p Welcome to the OYC-Datacenter Resource Management.
      p You've been invited to join #{client} workspace.
      p You can login with your username and password to check your documents.     
      p If you have any questions, please do not hesitate to contact us.
      p We look forward to working together.
      p Kind regards<br>Ihr DMS-Team
    include ../includes/footer.pug