// app global css in SCSS form
#table {
  display: table;
  padding: 1px;
}
.tr {
  display: table-row;
  padding: 1px;
}
.td {
  display: table-cell;
  padding: 1px;
  width: 100px;
  height: 25px;
  //   border: grey solid 1px;
  margin: 1px;
}
.editor-header {
  height: 25px;
  margin-bottom: 7px;
}
.editor-footer {
  height: 25px;
  margin-top: 7px;
}
.container-desktop{
  background-color: $grey-5;
  border-top-left-radius: 50px;
  margin-bottom: 0px;
  margin-left: 90px;
  margin-right: 0px;
  padding: 60px;
  min-height: calc(100vh - 90px);
}
.container-mobile{
  background-color: $grey-5;
  // border-radius: 25px;
  border-top-left-radius: 25px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 15px;
  min-height: calc(100vh - 90px);
}
.container-title{
  height: 80px;
  background-color: white;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-top: 22px;
  border-radius: 10px;  
}
.sub-title{
  padding-bottom: 18px;
  border-bottom: 1px solid #707070; 
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.625rem;
}
.dms-btn-lg {
  //@extend .dms-btn;
  min-width: 206px;
  min-height: 50px;
  font-size: 1.625rem;
}
.q-card{
  border-radius: 10px;
}
