doctype html
html
  include ../includes/head.pug
  body
    include ../includes/header.pug
    div.content
      p Ihr Passwort wurde erfolgreich geändert. Sie können sich nun im DMS mit Ihrem soeben vergebenen Passwort einloggen.
      p Zum Login Bereich gelangen Sie durch Klicken auf den untenstehenden Button:
      p <a class="btn" href="#{loginLink}">Zum Login</a>
      p Oder klicken Sie auf folgenden Link: <a href="#{loginLink}">#{loginLink}</a>
      p Für Rückfragen stehen wir Ihnen jederzeit gerne zur Verfügung.
      p Herzliche Grüße<br>Ihr DMS-Team
    include ../includes/footer.pug
